{%  extends 'base.html.twig' %}

{% block body %}
    <h1> Income </h1>

    <table>
        <tbody>
            <tr>
                <th>Amount</th>
                <td>{{ income.amount }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ income.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ income.type }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ income.date|date('Y-m-d') }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
